:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 320px;
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.12);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
