<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="local-packages" value="/tmp/packages" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="food-packages"
             value="https://pkgs.dev.azure.com/cloud-agents/az-400/_packaging/food-packages/nuget/v3/index.json" />
    </packageSources>
</configuration>